<a href="https://colab.research.google.com/github/Aditikhasnis/IEEE/blob/main/hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
df_condtn=pd.read_csv('/content/condtn_merged.csv',index_col=[0])
df1 = pd.DataFrame(df_condtn['Avg_activity'])

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df1 = sc.fit_transform(df1)
df1= sc.transform(df1 )
df_condtn['Avg_activity']=df1
df_condtn.head()

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

   SI.NO        date  hour  Avg_activity  status
0      1  2003-05-07    12     -0.744362       1
1      1  2003-05-07    13     -0.745669       1
2      1  2003-05-07    14     -0.745783       1
3      1  2003-05-07    15     -0.747057       1
4      1  2003-05-07    16     -0.746640       1

In [6]:
df_control=pd.read_csv('/content/control_merged.csv',index_col=[0])
df2 = pd.DataFrame(df_control['Avg_activity'])
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df2 = sc.fit_transform(df2)
df2 = sc.transform(df2 )
df_control['Avg_activity']=df2
df_control.head()

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

   SI.NO        date  hour  Avg_activity  status
0      1  2003-03-18    15     -0.717622       0
1      1  2003-03-18    16     -0.716055       0
2      1  2003-03-18    17     -0.703869       0
3      1  2003-03-18    18     -0.714981       0
4      1  2003-03-18    19     -0.711658       0

In [7]:
condtn_avg=df_condtn.Avg_activity
condtn_avg=np.array(condtn_avg)
print(condtn_avg)

[-0.74436173 -0.74566942 -0.74578314 ... -0.75167343 -0.75167343
 -0.74804955]

In [8]:
control_avg=df_control.Avg_activity
control_avg=np.array(control_avg)
print(control_avg)

[-0.71762165 -0.71605492 -0.70386878 ... -0.71981886 -0.719868
 -0.71983988]

In [9]:
n1 = len(condtn_avg)
n2 = len(control_avg)

In [10]:
normalized_condtn=stats.zscore(condtn_avg)
normalized_control=stats.zscore(control_avg)

In [11]:
x1_bar = np.mean(normalized_condtn)
x2_bar = np.mean(normalized_control)

In [12]:
s1 = np.std(condtn_avg, ddof=1)
s2 = np.std(control_avg, ddof=1)

In [13]:
print("Basic Statistics from the data")
print("Number of condition sample:", n1, "Number of control sample:", n2)
print("condition mean:", x1_bar, "control mean:", x2_bar)
print("condtn_std:", s1, "control_std:", s2)

Basic Statistics from the data
Number of condition sample: 9214 Number of control sample: 17016
condition mean: 4.626162222514479e-15 control mean: -3.194936871090549e-14
condtn_std: 0.004593563907773416 control_std: 0.0038076442651016206

In [14]:
def ztest_ind(X1, X2, mudiff, std_dev_1, std_dev_2, n1, n2):
    from numpy import sqrt, abs, round
    from scipy.stats import norm
    pooled_SE = sqrt(std_dev_1**2/n1 + std_dev_2**2/n2)
    z = ((X1 - X2) - mudiff)/pooled_SE
    if (z<0):
        p=stats.norm.cdf(z)
    else:
        p=1-stats.norm.cdf(z)

    pval = 2*p
    return round(z, 3), round(pval, 20)

In [15]:
z_statistics, p_value = ztest_ind(x1_bar,x2_bar, 0, s1, s2, n1, n2)
print("Z-statistics: ", z_statistics)
print("P-value: ", p_value)

Z-statistics:  0.0
P-value:  0.9999999994793813